<div class="card">
  <h2>{{title}}</h2>
  <h6>{{user.name}}
    <span><small>{{formatDate blog_date}}</small></span></h6>
  <p>{{blog_text}}</p>
  <div class="card">
    {{#if comments.length}}
      <h6>Comments </h6>
      {{#each comments as |comment|}}
        <div>
          <p>{{comment.user.name}}
            <span><small>{{formatDate comment.comment_date}}</small></span></p>
          <p>{{comment.comment_text}}</p>
        </div>
      {{/each}}
    {{/if}}
    {{#if logged_in}}
      <form class="comment-form">
        <label><strong>Leave Comment Here:</strong></label>
        <textarea type="text" id="comment-text" class="input"></textarea>
        <button type="submit" class="btn">Submit Comment</button>
      </form>
      <script src="/js/createComments.js"></script>
    {{/if}}
  </div>
  {{#if can_edit}}
    <button id="edit-btn">Edit</button>
    <button id="delete-btn">Delete</button>
    <form class="blog-form" style="display: none">
      <label>Title:

        <input type="text" id="blog-title" value="{{blog_title}}" />
      </label>
      <label>
        Content:
        <textarea
          type="text"
          id="blog-description"
          defaultValue="{{blog_description}}"
        >{{blog_description}}</textarea>
      </label>
      <input type="submit" />
    </form>

    <script src="/js/edit-blog.js"></script>
  {{/if}}
</div>