<div class="card-deck">
    <div class="card">


        {{#if blogs.length}}
        {{#each blogs as |blog|}}
        <a href="blogs/api/{{blog.id}}">
            <h2 class="card-title btitle">{{blog.title}}</h2>
            <p class="card text"> <small class="text-muted">{{blog.user.name}} - {{formatDate blog.blog_date}}</small></p>
        </a>
        <p class="card-body bbody">{{blog.blog_text}}</p>

        <p class="card-text"><small class="text-muted">{{blog.comments.length}} comments</small></p>
        <hr>
        {{/each}}
        {{else}}
        <h1>No blogs to show</h1>

        {{/if}}
    </div>
</div>